body {
    width: 80vw;
    margin: 30px auto;
    background-color: #fff;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputarea {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: 4px 4px 10px #c4c4c4;
    border-radius: 15px;
}


.numberinput,
.buttonarea {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 20px;
    align-items: center;
}

.numberinputlabel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #6c6c6c;
}

#contactnumber {
    border: 1px solid #d4af37;
    border-radius: 15px;
    padding: 5px 15px;
}

#contactnumber:focus {
    outline: none;
    border-color: #d4af37;
    box-shadow: 0 0 0 1px #d4af37;
}

#contactnumber:hover {
    border-color: #d4af37;
}


.buttonarea a {
    background-color: #d4af37;
    padding: 5px 20px;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

h1{
    margin-top: 20px;
    text-align: center;
    color: #6c6c6c;
}

.buttonarea p{
    margin: 0;
    text-align: center;
    color: #6c6c6c;
}

.buttonarea p span {
    font-weight: 600;
}